body {
  margin: 0;
  padding: 0;
  background-color: #4C505C;
  font-family: 'Roboto', sans-serif, serif;
  font-weight: 300;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1920px;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

.main {
  width: 70%;
  padding: 80px 40px 0 40px;
  border-right: 1px solid #ccc;
  background-color: white;
}

.header, .social-div {
  margin-bottom: 80px;
}

.header h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.header p {
  line-height: 1.4;
  font-weight: 400;
  color: rgb(146, 146, 146);
}

.social-div {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding: 25px 25px;
  transition: all .5s ease;
}

.btn:hover {
  box-shadow: 0px 0px 10px 2px #ccc;
}

h5 {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(146, 146, 146);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #ccc;
  color: rgb(146, 146, 146);
}

footer a {
  text-decoration: none;
  color: rgb(146, 146, 146);
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0;
  transition: all .5s ease;
}

footer a:hover {
  text-decoration: none;
  color: #333;
}

.logo {
  width: 1.3rem;
}

.side {
  width: 40%;
  background-image: url('img/side.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 0.8;
  transition: all .5s ease;
}

.side:hover {
  opacity: 1;
}